<nav class="black">
   <div class="nav-wrapper">
     <a href="#" class="brand-logo center hide-on-small-only">Virtual Symphony</a>
     <a href="#" class="brand-logo center hide-on-med-and-up">VS</a>
   </div>
</nav>
