<div class="banner">
  <div class="main section container white-text center-align ">
    <article class="z-depth-2 black-opac-bg">
        <h1 class="weight-200 hide-on-small-only">
          MUSIC <strong>STORYTELLING</strong> IN <strong>VR</strong>
        </h1>
        <h2 class="hide-on-med-and-up">
          MUSIC IN <strong>VR</strong>
        </h2>
        <h6 class="flow-text">Virtually watch and listen to your favourite artists</h6>
        <h6 class="flow-text"><strong>Your music library in VR</strong></h6>

        <button class="waves-effect waves-light btn-large modal-trigger"
          data-target="notReady">
          Get Started
        </button>
    </article>
  </div>
</div>
