<div class="sect-with-video">
  <video class="sect1-video" preload="metadata" autoplay loop
  poster="http://res.cloudinary.com/gavinching/video/upload/du_5,f_auto,q_50/v1464361502/Untitled_Screencast_3_cdxov5.jpg">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_5,f_auto,q_50/v1464361502/Untitled_Screencast_3_cdxov5.webm" type="video/webm">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_5,f_auto,q_50/v1464361502/Untitled_Screencast_3_cdxov5.mp4" type="video/mp4">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_5,f_auto,q_50/v1464361502/Untitled_Screencast_3_cdxov5.ogv" type="video/ogg">
  </video>

  <div class="section container section-min white-text valign-wrapper right">
    <div class="valign right-align">
      <h2 class="weight-200">A newer way to <strong>experience</strong> music.</h2>
      <hr/>
      <h5 class="flow-text">Watch through musical stories from artists across the world.</h5>
    </div>
  </div>



</div>
