<div class="sect-with-video">
  <video class="sect1-video" preload="metadata" autoplay loop muted
  poster="http://res.cloudinary.com/gavinching/video/upload/v1464364206/Untitled_Screencast_5_ynil33.jpg">
    <source src="videos/please.webm" type="video/webm">
  </video>

  <div class="section container section-min white-text valign-wrapper right">
    <div class="valign right-align">
      <h2 class="weight-200">A newer way to <strong>experience</strong> music.</h2>
      <hr/>
      <h5 class="flow-text">Watch musical stories from artists across the world.</h5>
    </div>
  </div>


</div>
