<div class="bg-sect2">
  <div class="section section-min container white-text">
    <h3 class="weight-200 center-align"><strong>SYMPHONY</strong> PROVIDES</h3>
    <hr/>
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card-panel teal">
          <div class="center-align"><i class="mdi-action-accessibility medium"></i></div>
          <h5>Accessibility</h5>
          <p class="flow-text weight-200">Using your smartphone, watch VR stories anywhere and anytime.</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel blue">

          <div class="center-align"><i class="mdi-social-group medium"></i></div>
          <h5>Library of stories</h5>
          <p class="flow-text weight-200">Go through a collection of stories from artists around the world.</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel teal">

          <div class="center-align"><i class="mdi-social-school medium"></i></div>
          <h5>Storytelling</h5>
          <p class="flow-text weight-200">Experience music in a whole new way.</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel blue">

          <div class="center-align"><i class="mdi-social-public medium"></i></div>
          <h5>Discovery and Promotion</h5>
          <p class="flow-text weight-200">Join and promote your work and grow your fanbase.</p>
        </div>
      </div>
    </div>
  </div>
</div>
