<div class="sect-with-video">
  <video class="sect1-video" preload="metadata" autoplay loop muted
  poster="http://res.cloudinary.com/gavinching/video/upload/du_10,f_auto,q_100,so_5/v1464364206/Untitled_Screencast_5_ynil33.jpg">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_10,f_auto,q_100,so_5/v1464364206/Untitled_Screencast_5_ynil33.webm" type="video/webm">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_10,f_auto,q_100,so_5/v1464364206/Untitled_Screencast_5_ynil33.mp4" type="video/mp4">
    <source src="http://res.cloudinary.com/gavinching/video/upload/du_10,f_auto,q_100,so_5/v1464364206/Untitled_Screencast_5_ynil33.ogv" type="video/ogg">
  </video>

  <div class="section container section-min white-text valign-wrapper right">
    <div class="valign right-align">
      <h2 class="weight-200">A newer way to <strong>experience</strong> music.</h2>
      <hr/>
      <h5 class="flow-text">Watch through musical stories from artists across the world.</h5>
    </div>
  </div>



</div>
