<div class="summary-wrapper">
  <div class="summary teal darken-1 container z-depth-5">
    <div class="section container white-text center-align">
      <div class="hide-on-small-only">
        <h2 class="weight-200"><strong>VIRTUAL REALITY</strong> MUSIC</h2>
        <hr/>
        <h5 class="weight-200 flow-text">
          Virtual Symphony is the <strong>first media virtual platform</strong> that
          gives fans a new way of enjoying their favourite artists through visual storytelling
          in virtual reality. Using your <strong>smartphone</strong>,
          you can <strong>watch visual stories</strong> hosted by artists across the globe.
        </h5>
      </div>
      <div class="hide-on-med-and-up">
        <h4 class="weight-200"><strong>VIRTUAL REALITY</strong> MUSIC</h4>
        <hr/>
        <h5 class="weight-200 flow-text">
          Virtual Symphony is the <strong>first media virtual platform</strong> that
          gives fans a new way of enjoying their favourite artists through visual storytelling
          in virtual reality.
        </h5>
      </div>
    </div>
  </div>
</div>
